<html>
  <head>
    {% block head %}
    <!-- Latest compiled and minified CSS -->

    <!-- ************************************ Bootstrap ************************************ -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->




    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- ************************************ Bootstrap   ************************************ -->
    <!-- ************************************   CSS   **************************************** -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">

    <!-- ************************************   CSS   **************************************** -->

    <!-- ************************************   JQuery **************************************** -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- ************************************   JQuery **************************************** -->

    <title>{% block title %}{% endblock %} - WildflowerFinder</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    Home
                </a>
            </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link" href="https://github.com/jw15/wildflower-finder" target="_blank">How It Works</a></li>
          <li><a class="nav-link-header" href="/contact">About</a></li>
      </div>
    </nav>
    <br>
    <br>

    <div id="content">{% block content %}{% endblock %}</div>
    <!-- <div id="footer">
      {% block footer %}
      &copy; Copyright 2017 by <a href="http://domain.invalid/">JMW</a>.
      {% endblock %}
    </div> -->
  </body>
</html>
