{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #5095d4; }
  </style>
{% endblock %}
{% block content %}


<body id="index-background">

    <div id="index-jumbo" class="jumbotron center-block">
        <div class="opac1-text">
            <h1>Wildflower Finder</h1>
            <p><a class="btn btn-lg" id="jumbotron-button" href="/predict" role="button">Upload a picture!</a></p>
        </div>
    </div>

</body>

    <p class="important">
{% endblock %}
