
{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
{% endblock %}
{% block content %}

    <br>
    <br>
    <div class="row">
        <div class="col-md-1 "></div>
        <div class="col-md-2"><img src='{{ data[6] }}' width="200" height="267"/></div>
        <!-- <div class="col-md-1">
            <div class="container">
            <div class="progress vertical">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{ data[1] }}%;">
              </div>
            </div>
        </div> -->
        <div class="col-md-4 .col-xs-6">
            <h2>{{ data [0] }}</h2>
            <h3>(common name)</h3>
            <!-- <dl class="dl-horizontal">
              <dt>Latin Name</dt>
              <dd>{{ data[0] }}</dd>
              <dt>Common Name</dt>
              <dd>(common name)</dd>
              <dt>Description</dt>
              <dd>(description)</dd>
            </dl> -->
        </div>
        <div class="col-md-2">
            <h2>{{ data[1] }}</h2>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"><img src='{{ data[7] }}' width="200" height="267"/></div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
              <dt>Latin Name</dt>
              <dd>{{ data[2] }}</dd>
              <dt>Common Name</dt>
              <dd>(common name)</dd>
              <dt>Description</dt>
              <dd>(description)</dd>
            </dl>
        </div>
        <div class="col-md-2">{{ data[3] }}</div>
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"><img src='{{ data[8] }}' width="200" height="267"/></div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
              <dt>Latin Name</dt>
              <dd>{{ data[4] }}</dd>
              <dt>Common Name</dt>
              <dd>(common name)</dd>
              <dt>Description</dt>
              <dd>(description)</dd>
            </dl>
        </div>
        <div class="col-md-2">{{ data[5] }}</div>
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
    </div>

        <left><h1 id="results-text">1. {{ data[0] }}, {{ data[1] }}</h1></center>
        <left><h1 id="results-text">2. {{ data[2]}}, {{ data[3] }}</h1></center>
        <left><h1 id="results-text">3. {{ data[4] }}, {{ data[5] }}</h1></center>

    <br>
    <!-- <img src="{{ url_for('static', filename='img/players/0a3e68ee7b3567f0b3ece8a927f63b7a4de1740c.jpg') }}"> -->







{% endblock %}
