
{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
{% endblock %}
{% block content %}

    <br>
    <br>

        <left><h1 id="results-text">1. {{ data[0] }}, {{ data[1] }}</h1></center>
        <left><h1 id="results-text">2. {{ data[2]}}, {{ data[3] }}</h1></center>
        <left><h1 id="results-text">3. {{ data[4] }}, {{ data[5] }}</h1></center>

    <br>
    <!-- <img src="{{ url_for('static', filename='img/players/0a3e68ee7b3567f0b3ece8a927f63b7a4de1740c.jpg') }}"> -->







{% endblock %}
