
{% extends "base.html" %}

{% block title %}Supported Species{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
{% endblock %}
{% block content %}

<br>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-2">
            <img src='static/images/img_dict/achillea_lanulosa_23.jpg' width="200" height="267"/>
        </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-4 ">
            <h3><i>Achillea lanulosa</i></h3>
            <h4><b>Common Yarrow</b></h4>
            <!-- <h4>Family: family</h4> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-2">
            <img src='static/images/img_dict/adenolinum_lewisii_163.jpg' width="200" height="267"/>
        </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-4 .col-sm-6">
            <h3><i>Adenolinum lewissi</i></h3>
            <h4><b>Blue flax</b></h4>
            <!-- <h4>Family: family</h4> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-2">
            <img src='static/images/img_dict/alyssum_parviflorum_41.jpg' width="200" height="267"/>
        </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-4 ">
            <h3><i>Alyssum simplex (Alyssum parviflorum)</i></h3>
            <h4><b>Wild Alyssum</b></h4>
            <!-- <h4>Family: family</h4> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-2">
            <img src='static/images/img_dict/arnica_cordifolia_43.jpg' width="200" height="267"/>
        </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-4 ">
            <h3><i>Arnica cordifolia</i></h3>
            <h4><b>Heartleaf Arnica</b></h4>
            <!-- <h4>Family: family</h4> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-2">
            <img src='static/images/img_dict/cerastium_arvense_120.jpg' width="200" height="267"/>
        </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-4 ">
            <h3><i>Cerastium arvense</i></h3>
            <h4><b>Field Chickweed</b></h4>
            <!-- <h4>Family: family</h4> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-2">
            <img src='static/images/img_dict/delphinium_nuttallianum_25.jpg' width="200" height="267"/>
        </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-4 ">
            <h3><i>Delphinium nuttallianum</i></h3>
            <h4><b>Larkspur</b></h4>
            <!-- <h4>Family: family</h4> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-2">
            <img src='static/images/img_dict/harbouria_trachypleura_54.jpg' width="200" height="267"/>
        </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-4 ">
            <h3><i>Harbouria trachypleura</i></h3>
            <h4><b>Whiskbroom Parsley</b></h4>
            <!-- <h4>Family: family</h4> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-2">
            <img src='static/images/img_dict/lonicera_tatarica_35.jpg' width="200" height="267"/>
        </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-4 ">
            <h3><i>Lonicera tatarica</i></h3>
            <h4><b>Honeysuckle</b></h4>
            <!-- <h4>Family: family</h4> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-2">
            <img src='static/images/img_dict/mertensia_lanceolata_110.jpg' width="200" height="267"/>
        </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-4 ">
            <h3><i>Mertensia lanceolata</i></h3>
            <h4><b>Foothills Mertensia</b></h4>
            <!-- <h4>Family: family</h4> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-2">
            <img src='static/images/img_dict/padus_virginiana_24.jpg' width="200" height="267"/>
        </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-4 ">
            <h3><i>Padus virginiana</i></h3>
            <h4><b>Chokecherry</b></h4>
            <!-- <h4>Family: family</h4> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-2">
            <img src='static/images/img_dict/penstemon_virens_117.jpg' width="200" height="267"/>
        </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-4 ">
            <h3><i>Penstemon virens</i></h3>
            <h4><b>Bluemist Penstemon</b></h4>
            <!-- <h4>Family: family</h4> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-2">
            <img src='static/images/img_dict/phlox_longifolia_49.jpg' width="200" height="267"/>
        </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-4 ">
            <h3><i>Phlox longifolia</i></h3>
            <h4><b>Long-leaf Phlox</b></h4>
            <!-- <h4>Family: family</h4> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1 "></div>
        <div class="col-sm-2">
            <img src='static/images/img_dict/senecio_integerrimus_39.jpg' width="200" height="267"/>
        </div>
        <div class="col-sm-1 "></div>
        <div class="col-sm-4 ">
            <h3><i>Senecio integerrimus</i></h3>
            <h4><b>Lamb's Tongue Ragwort</b></h4>
            <!-- <h4>Family: family</h4> -->
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

{% endblock %}
