#Data

data_images
data_vegetation_survey
img_readme
adata_images_sub
resized_images
capstone_proposal.docx
capstone_proposal.md
instructor_meeting_notes.txt
Jennifer_Waller_capstone_proposal.pdf
vegetation_eda.ipynb
imgs_for_readme
imgs_for_readme_rsz
adata_images_sub.zip
adata_images_sub3
adata_images_sub
resnet-101.t7
imgs_jpgs.zip
imgs_jpgs
ellen_images
lilies_locations
model_outputs
model_plots
src/preview
maps
capstone_web_app/predicted_images_web
capstone_Web_app/uploads
data
flas_fastai_CNN
img_landscape
new_imgs_to_add
new_test
notes
references
capstone_web_app/parker_app.py
capstone_web_app/test.py
capstone_web_app/.gitignore
capstone_web_app/classes.npy
capstone_web_app/flower_cats.npy
capstone_web_app/README.md
capstone_web_app/app copy.py
flask_fastai_CNN
src/__pycache__
src/.DS_Store
src/cnn_capstone_resnet50.py
src/cnn_capstone_img_preprocess.py
src/capstone_early_notes



# Old code not using
src_notusing
imagemagick-identify-parser

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
