h1 {
    color: black;
    font-size: 30px;
}

.navbar-brand {
    margin-left: 0px;
    font-size: 22px;
}

.nav-link-header {
    font-size: 22px;
    margin-left: 20px;
}

.nav-link {
    font-size: 22px;
    margin-left: 0px;
}

#index-background {
    background-size: cover;
    background-position: 0% 100%;
    min-height: 100%;
    background-image: url(../images/bluebells_landscape.jpg);
}

#index-jumbo {
    text-align: center;
    color: #5e124d !important;
    width: 50%;
    height: 40%;
    color: blue;
    padding-top: 30px;
    margin-top: 100px;
    background-color: #f7f7f9; !important;
    opacity: 0.7;
    background-size: 10%;
    z-index: 1;
}

#index-background-contact {
    background-size: cover;
    background-position: 0% 100%;
    min-height: 100%;
    background-image: url(../images/IMG_5147.png);
}

#index-jumbo-contact {
    text-align: left;
    color: #5e124d !important;
    width: 50%;
    height: 50%;
    color: blue;
    padding-top: 30px;
    margin-top: 100px;
    background-color: #f7f7f9; !important;
    opacity: 0.7;
    background-size: 10%;
    z-index: 1;
}

.opac1-text {
    opacity: 2;
    z-index: 10;
}

#jumbotron-button {
    text-align: center;
    color: #f7f7f9;
    background-color: #771076;
}


.bottom-img {
    /*z-index: 1;*/
    opacity: 2;
}

#results-text {
    color: #7528c1;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/*
.container {
  margin-top: 40px;
  padding-top: 20px;
  /*background-color: #beb*/
/*}*/
.vertical {
  /*display: inline-block;*/
  width: 20%;
  height: 40px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
/*.vertical {*/
  /*box-shadow: inset 0px 4px 6px #ccc;
}*/
.progress-bar {
  box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}
